<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1 style=color:orange style="background-color: orange;">This is the first project with html page in django</h1>
        <h1 style=color:aliceblue> PYTHON </h1>
        <h1 style=color:green> Django </h1>
        
    
    </center>
</body</html>